.axis {
  shape-rendering: crispEdges;
  font-size: .7em;
  font-family: sans-serif;
}

.axis path {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.tick line {
  fill: none;
  stroke: black;
}

circle {
  stroke: black;
  stroke-width: .5px;
  fill: RoyalBlue;
  opacity: .6;
}
